*{
    font-family: 'Montserrat', sans-serif;
}
.side-board{
    background-color: black;
    height: 100vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
}

.side-board-heading{
    color:white;
    font-size: 5vw;
}
.white-part{
    float: right;
    background: #F5F5F5;
    height: 100vh;
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-in-heading{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    margin:5px;
}
.button-cover{
    display: flex;
    justify-content: space-between;
    margin: 25px 0px ;
}
.white-buttons{
    width: 180px;
    background-color: white;
    border-radius: 3px;
    color:#858585;
    border:solid;
    border-color: #DADCE0;
    border-width: 1px;
    padding:5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.white-buttons:hover{
    color:black;
    cursor: pointer;
}
.white-buttons > *{
    border:none;
}
img{
    height: 15px;
    margin:3px;
}
.form-outer{
    background-color: white;
    width: 400px;
    border-radius: 20px;
    padding:20px;
}
label{
    font-size: 20px;
    font-family: 'lato','sans-serif';
}
.input{
    width: 95%;
    margin:10px 0px 20px 0px;
    padding:10px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border:none;
    font-size:20px;
    font-family: 'lato','sans-serif';
}
input:focus{
    outline: none;
}
.forgot{
    font-family: 'lato';
    color: blue;
    font-size:20px;
    margin:0px;
}
.forgot:hover{
    cursor: pointer;
}

.main-sign-in-button{
    text-decoration: none;
    width:95%;
    color:white;
    background-color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin:20px 0px;
    height: 35px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content:center ;
}
.main-sign-in-button:hover{
    background-color: rgba(0, 0, 0, 0.875);
    cursor: pointer;
}
.register{
    align-self: center;
    color:#858585;
}
.resgister2{
    color:blue;
}
.resgister2:hover{
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .white-part{
        width:100%;
    }
    .side-board{
        width:0px;
    }  
}
@media screen and (max-width: 500px) {
    #b1,#b2{
        width:10vw;
        border-radius:10px ;
    }
    #b1 p,#b2 p{
        display: none;
    }
    .button-cover{
        margin:3vw;
    }
    .white-part div{
        width: 90%;
    }
    
    p,.forgot{
        font-size:3vw;
    }
    .sign-in-heading{
        font-size:7vw ;
    }
    .sign-in-outer{
        height: 120vw;
    }
    .form-outer{
        display: flex;
        flex-direction: column;
        padding:10px;
    }
    label{
        font-size: 4vw;
    }
    .input{
        height: 7vw;
        margin:3vw 0px;
        padding:2vw;
    }    
    .main-sign-in-button{
        height: 8vw;
    } 
    .main-sign-in-button{
        font-size: 5vw;
        margin:3vw 0px;
    }  
}