*{
    font-family: 'Montserrat', sans-serif;
}
.outer{
    position:absolute;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    padding-left:calc(100%-50px);
    background-color: #f5f5f5;
    overflow: hidden;
}
.left{
    float:left;
    width: 20%;
    background-color: black;
    border-radius: 40px;
    height: 95%;
    align-self: center;
}
.main-page{
    float: right;
    width:75%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.header{
    width:100%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.header-right{
    display: flex;
    gap:20px;
}
.search-outer{
    background-color: white;
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}
.search-bar{
    border-radius: 10px;
    border: none;
    margin:15px;
}
.search-bar:focus{
    outline: none;
}
.search-icon{
    height: 20px;
    margin:8px;
    opacity: 0.5;
}
.bell,.dp{
    height: 30px
}
.dp{
    border-radius: 50%;
}
.color-boxes{
    display:flex;
    justify-content: space-between;
}
.color-box{
    background-color: blue;
    border-radius: 20px;
    width:19%;
    display: flex;
    flex-direction: column;
    padding:2%;
    align-items: flex-start;
    max-height: 600px;
}
.colorbox-icon{
    align-self: flex-end;
    height: 30px;
}
.colorbox-value{
    margin:0px;
}
p{
    margin:5px 0px;
}
.chart-outest{
    width :100%;    
    margin:10px;
    background-color: white;
    margin:10px 0px;
    border-radius: 20px;
    padding:10px 0px;
}
.side-bar-bottom-cover{
    display: flex;
    width:90%;
}
.side-bar-bottom-cover p{
    color:white
}
.bottom-cover{
    display: flex;
    justify-content: space-between;
}

.piechart-box,.schedule-box{
    width:45%;
    background-color: white;
    border-radius: 20px;
    height: 200px;
}
.piechart-box{
    display: flex;
    justify-content: center;
}
.time-table{
    border-style: solid;
    border-width:0px 0px 0px 7px;
    border-color:  #9BDD7C;
    padding: 0px 13px;
}
.time-table p{
    color:#666666;
    font-size: 12px;
}
.schedule-box{
    padding:5px 40px;
    display:flex;
    justify-content:space-evenly;
    flex-direction:column;
}
.schedule-box *{
    margin-left:15px
}
@media screen and (max-width: 1300px) {
    .outer{
        padding:10px 0px;
    }
    /* .main-page{
        margin-left:20px;
    } */
}
@media screen and (max-width: 1200px) {
    .outer{
        justify-content: space-evenly;
    }
    .left{
        width:50px;
        /* height: 100% ; */
        border-radius: 20px;
    }
    .main-page{
        width:1000px;
    }
}
@media screen and (max-width: 1100px) {
    .main-page{
        width:90%;
    }
    .schedule-box{
        padding: 5px 10px;
    }
}
@media screen and (max-width: 900px) {
    .color-box p{
        font-size: 1.8vw;
    }
    .color-box h2{
        font-size: 2.8vw;
    }
    .colorbox-icon{
        height: 3vw;
    }
}
@media screen and (max-width:700px){
    .outer{
        height: auto;
    }
    .left{
        display: none;
    }
    .right{
        width:95%;
    }
    .header{
        flex-direction: column;
        align-items: start;
        height: auto;
    }
    .colorbox-icon{
        display: none;
    }
    .bottom-cover{
        flex-direction: column;
        gap:20px;
    }
    .schedule-box{
        width: 95%;
    }
    .piechart-box{
        width: 100%;
    }
    .header-right{
        width:20px;
        margin:10px 0px;
    }
    .main-page{
        gap:20px;
    }
}
@media screen and (max-width:400px) {
    .color-boxes{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: stretch;
        gap:10px;
    }
    .color-box{
        width: 90%;
        border-radius: 10px;
        padding: 5px;
        align-items: center;
    }
    .color-box p{
        font-size: 4vw;
    }
    .color-box h2{
        font-size: 5vw;
    }
    .header-right{
        width:90vw;
        justify-content: flex-end;

    }
    .header-right input{
        width:20vw;
    }

}




